@import 'mixins/index';

// Colours
$black: #000000;
$white: #fff;


// Secondary Palette
$secondary-10:   #E6E8EA; 
$secondary-20:   #E6E8EA;
$secondary-30:   #E6E8EA;
$secondary-40:   #CED1D5;
$secondary-50:   #54606D;  
$secondary-base: #0C1D2F;
$secondary-60:   #091725;  
$secondary-70:   #040B12;
$secondary-80:   #03080E;
$secondary-90:   #03080E;
$secondary-100:  #03080E;   

// White Palette
$white-10: #fdfdfd;
$white-20: #fbfbfb;
$white-30: #fafafa;
$white-40: #f8f8f8;
$white-50: #f6f6f6;
$white-base: #f4f4f4;
$white-60: #cbcbcb;
$white-70: #a3a3a3;
$white-80: #7a7a7a;
$white-90: #515151;
$white-100: #313131;

// Primary Palette
$primary-10:   #E7EAEE;  
$primary-20:   #E7EAEE;
$primary-30:   #E7EAEE; 
$primary-40:   #D0D6DD;
$primary-50:   #5A708A;
$primary-base: #143458;   
$primary-60:   #102946;   
$primary-70:   #081423;
$primary-80:   #060F1A;
$primary-90:   #060F1A;
$primary-100:  #060F1A; 

// Grey Palette
$grey-10: #f5f5f5;
$grey-20: #eeeeee;
$grey-30: #e5e5e5;
$grey-40: #dcdcdc;
$grey-50: #d4d4d4;
$grey-base: #cbcbcb;
$grey-60: #a9a9a9;
$grey-70: #878787;
$grey-80: #666666;
$grey-90: #444444;
$grey-100: #292929;

// Status Colors
$error-color: #d63638;
$error-light: #fcf2f2;
$success-color: #00a32a;
$success-light: #f0f8ff;
$placeholder-color: #999999;


// Fonts.

@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&family=Sora:wght@100..800&display=swap');

$font:"Assistant", sans-serif;
$heading-font: "Sora", sans-serif;


// Media querys.
$s-mobile: "(min-width: 540px)";
$mobile: "(min-width: 768px)";
$s-tablet : "(min-width: 992px)";
$tablet: "(min-width: 1024px)";
$desktop: "(min-width: 1200px)";

// Misc.
$max-width: rem-calc(1200);
$shadow: rem-calc(0 5 10 0) rgba(0,0,0,0.3);
$ease: all 0.3s ease-in-out;