@import 'mixins/index';

// Colours
$black: #000000;
$white: #fff;


// Secondary Palette
$secondary-10:   #ffe8e0; 
$secondary-20:   #ffd2c1;
$secondary-30:   #ffb199;
$secondary-40:   #ff8f72;
$secondary-50:   #ff6e4a;  
$secondary-base: #f4531f;
$secondary-60:   #c9441a;  
$secondary-70:   #9e3614;
$secondary-80:   #73270f;
$secondary-90:   #47190a;
$secondary-100:  #250d05;   

// White Palette
$white-10: #fdfdfd;
$white-20: #fbfbfb;
$white-30: #fafafa;
$white-40: #f8f8f8;
$white-50: #f6f6f6;
$white-base: #f4f4f4;
$white-60: #cbcbcb;
$white-70: #a3a3a3;
$white-80: #7a7a7a;
$white-90: #515151;
$white-100: #313131;

// Primary Palette
$primary-10:   #e5ebff;  
$primary-20:   #ccd8ff;
$primary-30:   #aabfff;
$primary-40:   #88a6ff;
$primary-50:   #668cff;
$primary-base: #315cfe;   
$primary-60:   #294dd5;   
$primary-70:   #2141aa;
$primary-80:   #193580;
$primary-90:   #102955;
$primary-100:  #081c33; 

// Grey Palette
$grey-10: #f5f5f5;
$grey-20: #eeeeee;
$grey-30: #e5e5e5;
$grey-40: #dcdcdc;
$grey-50: #d4d4d4;
$grey-base: #cbcbcb;
$grey-60: #a9a9a9;
$grey-70: #878787;
$grey-80: #666666;
$grey-90: #444444;
$grey-100: #292929;

// Status Colors
$error-color: #d63638;
$error-light: #fcf2f2;
$success-color: #00a32a;
$success-light: #f0f8ff;
$placeholder-color: #999999;


// Fonts.
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
$font: "Poppins", sans-serif;
$heading-font: "Poppins", sans-serif;


// Media querys.
$s-mobile: "(min-width: 540px)";
$mobile: "(min-width: 768px)";
$s-tablet : "(min-width: 992px)";
$tablet: "(min-width: 1024px)";
$desktop: "(min-width: 1200px)";

// Misc.
$max-width: rem-calc(1200);
$shadow: rem-calc(0 5 10 0) rgba(0,0,0,0.3);
$ease: all 0.3s ease-in-out;