.contact-details-block {
    max-width: $max-width;
    margin: rem-calc(40) auto;
    padding: rem-calc(0 50);
    display: flex;
    flex-direction: column;
    gap: rem-calc(40);

    @media #{$tablet} {
        padding: 0;
        gap: rem-calc(80);
        margin: rem-calc(150) auto;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: rem-calc(40);

        @media #{$tablet} {
            flex-direction: row;
            gap: rem-calc(150);
        }
    }

    &__headings {
        display: flex;
        flex-direction: column;
        gap: rem-calc(24);
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: rem-calc(24);
    }

    &__item {
        display: flex;
        flex-direction: column;
        gap: rem-calc(8);

        &-label {
            display: flex;
            gap: rem-calc(16);
            align-items: center;
        }

        &-link {
            text-decoration: underline;
        }
    }

    &__map {

        iframe {
            min-height: rem-calc(360); 
            border-radius: rem-calc(16);

            @media #{$tablet} {
                min-height: rem-calc(720);
            }
        }
    }

}