.inner-hero-block {
    margin: rem-calc(0 0 40 0);
    min-height: rem-calc(300);
    padding: rem-calc(30);

    @media #{$tablet} {
        margin: rem-calc(0 0 0 0);
        min-height: rem-calc(200);
        padding: rem-calc(50 30);
    }

    .row-wrapper {
        display: flex;
        flex-direction: column;
        gap: rem-calc(16);
    }

    &__heading {
        color: $white-base;
    }

    &__breadcrumb {
        
        p {
            color: $white-base;
        }

        a {
            text-decoration: underline;
            color: $white-base;
        }
    }
}

.woocommerce-shop {

    .inner-hero-block {
        margin-top: rem-calc(80);
    }
}