.testimonials-block {
    max-width: $max-width;
    margin: rem-calc(40) auto;
    padding: rem-calc(0 50);
    display: flex;
    flex-direction: column;
    gap: rem-calc(40);

    @media #{$tablet} {
        padding: 0;
        gap: rem-calc(80);
        margin: rem-calc(150) auto;
    }

    &__heading {
        margin-bottom: rem-calc(24);
    }

    &__grid {
        margin-top: rem-calc(80);
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: rem-calc(40);

        @media #{$tablet} {
            grid-template-columns: repeat(3, 1fr);
        }

        .testimonial {
            display: flex!important;
            flex-direction: column;
            gap: rem-calc(32);

            @media #{$tablet} {
                padding-right: rem-calc(100);
            }

            &__stars {
                display: flex;
                gap: rem-calc(8);
            }
        }

        &.owl-carousel {
            position: relative;
            margin-bottom: rem-calc(60);

            @media #{$tablet} {
                margin-bottom: 0;
            }

            .slick-next {
                position: absolute;
                transform: rotate(-90deg);
                bottom: rem-calc(-70);
                right: 0;    

                @media #{$tablet} {
                    bottom: unset;
                    right: 0;          
                    top: 50%;
                }
            }

            .slick-prev {
                position: absolute;
                transform: rotate(-90deg);
                bottom: rem-calc(-70);

                @media #{$tablet} {
                    bottom: unset;
                top: 50%;
                transform: rotate(-90deg);
    

                }
            }

            .slick-list {
                margin: 0 auto;
                max-width: 80%;
            }

            .slick-arrow {
                padding: 10px;
                border-radius: rem-calc(5);
                border: none;
                cursor: pointer;
                z-index: 999;
            }
        }
    }
}
