.text-block {
    max-width: rem-calc(760);
    margin: rem-calc(40) auto;

    @media #{$tablet} {
        margin: rem-calc(100) auto;
    }

    &__blocks {
        display: flex;
        flex-direction: column;
        gap: rem-calc(50);
    }
}